*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}
html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x:hidden;
}
header{
    height: 200px;
    padding: 20px 0;
}
.logo{
    width: 50%;
}
.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}
.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    font-family: 'Teko', sans-serif ;
}
section.sobre{
    height: calc(100% - 200px);
    position: relative;
}
.extras{
    position: absolute;
    bottom: -450px;
    right: -500px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: #017143;
}
.social-media{
   position: absolute;
   left: 450px;
   top: 190px;
}
.social-media img{
    display: block;
    width: 20px;
    margin: 20px 0;
}
.texto-sobre{
    margin-top: 100px;
}
.texto-sobre h1{
    font-size: 80px;
    font-family: 'Blinker', sans-serif;
    color:white;
   
}
.texto-sobre p{
    margin: 20px 0;
    color:black;
    font-size: 25px;
    font-weight: bold;
    max-width: 500px;
    font-family: 'Teko', sans-serif ;
}
.texto-sobre button{
   border: 0;
   background-color: #017143;
   color:white;
   border-radius: 10px;
   width: 80px;
   height: 30px;
   cursor: pointer;
}
body{
    background-image: url('https://wallpapercave.com/wp/99KlGYb.jpg');
    background-repeat: no-repeat;
}
